<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/blocks/homepage.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-row">
                <div class="header-logo">
                   <img src="./img/logo.png" alt="Logo"> 
                </div>
                <nav class="header-nav">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="./html/attractions.html">Достопримечательности</a></li>
                        <li><a href="./html/gallery.html">Галерея</a></li>
                        <li><a href="./html/posts">Посты</a></li>
                    </ul>
                </nav>
                <div class="header-login">
                    <a href="./html/auth.html" class="btn">Войти</i></a>
                </div>
                <button type="button" class="mobile-nav-button">
                    <span class="mobile-nav-button__icon"></span>
                </button>
            </div>
        </div>
        <div class="container container--header">

            
            <h1>Волоколамск</h1>
            <h3>Город Воинской Славы</h3>
 
             
         </div>
    </header>
    <div class="mobile-nav">
        <img class="mobile-logo" src="./img/logo.png" alt="logo">
        <nav class="mobile-nav-list">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="./html/attractions.html">Достопримечательности</a></li>
                <li><a href="./html/gallery.html">Галерея</a></li>
                <li><a href="./html/posts">Посты</a></li>
            </ul>
        </nav>
        <div class="mobile-login">
            <a href="./html/auth.html" class="btn">Войти</i></a>
        </div>
    </div>
    <main class="main">
        <section class="section">
         <div class="container">
             <div class="section__header">
                 <h2 class="title-1 h2_sect1">Достопримечательности</h2>
                 <a href="./html/attractions.html" class="button-more">
                     View all
                     <img class="arrow" src="./img/arrow.png" alt="Arrow">
                 </a>
             </div>
             <div class="section__cards section__cards--6-in-row">
 
                 <article class="card">
                     <a href="./post/14" class="card__link"></a>
                     <img class="card__img" src="./img/kreml1.jpg" alt="Img">
                     <h3 class="card__title">Волоколамский кремль</h3>
                     <a href="#california" class="card__location">Городской вал</a>
                 </article>
 
                 <article class="card">
                     <a href="./post/9" class="card__link"></a>
                     <img class="card__img" src="./img/imenie-n.i.-goncharovoy.jpg" alt="Img">
                     <h3 class="card__title">Имение Н.И. Гончаровой</h3>
                     <a href="#california" class="card__location">Cело Ярополец</a>
                 </article>
 
                 <article class="card">
                     <a href="./post/12" class="card__link"></a>
                     <img class="card__img" src="./img/ostashevo.jpg" alt="Img">
                     <h3 class="card__title">Усадьба Осташево</h3>
                     <a href="#california" class="card__location">Село Осташёво</a>
                 </article>
 
                 <article class="card">
                     <a href="./post/19" class="card__link"></a>
                     <img class="card__img" src="./img/pamyatnik-geroyam-saperam.jpg" alt="Img">
                     <h3 class="card__title">Памятник «Взрыв»</h3>
                     <a href="#california" class="card__location">Площадь Октябрьская</a>
                 </article>
 
                 <article class="card">
                     <a href="./post/15" class="card__link"></a>
                     <img class="card__img" src="./img/__FAPMSDzAA.jpg" alt="Img">
                     <h3 class="card__title">Мемориал Панфиловцам</h3>
                     <a href="#california" class="card__location">Деревня Нелидово</a>
                 </article>
 
                 <article class="card">
                     <a href="./post/10" class="card__link"></a>
                     <img class="card__img" src="./img/XXL.webp" alt="Img">
                     <h3 class="card__title">Городской парк</h3>
                     <a href="#california" class="card__location">Улица Парковая</a>
                 </article>
             </div>
         </div>
     </section>
 
         <!-- Галерея -->
         <section class="section">
             <div class="container">
                 <div class="section__header">
                     <h2 class="title-1">Фотогалерея</h2>
                     <a href="./html/gallery.html" class="button-more">
                         View all
                         <img class="arrow" src="./img/arrow.png" alt="Arrow">
                     </a>
                 </div>
                 <div class="section__cards section__cards--4-in-row">
                     <article class="card">
                         <a href="#!" class="card__link"></a>
                         <img class="card__img card__img--hotel" src="./img/volok1.jpg" alt="Img">
                         <h3 class="card__title card__title--hotel"></h3>
 
 
                     </article>
 
                     <article class="card">
                         <a href="#!" class="card__link"></a>
                         <img class="card__img card__img--hotel" src="./img/volok2.jpeg" alt="Img">
                         <h3 class="card__title card__title--hotel"></h3>
 
 
                     </article>
 
                     <article class="card">
                         <a href="#!" class="card__link"></a>
                         <img class="card__img card__img--hotel" src="./img/volok3.jpg" alt="Img">
                         <h3 class="card__title card__title--hotel"></h3>
 
 
                     </article>
 
                     <article class="card">
                         <a href="#!" class="card__link"></a>
                         <img class="card__img card__img--hotel" src="./img/volok4.jpg" alt="Img">
                         <h3 class="card__title card__title--hotel"></h3>
                     </article>
                 </div>
             </div>
         </section>
 
         <!-- Посты -->
         <section class="section">
             <div class="container">
 
                 <header class="section__header">
                     <h2 class="title-1">Посты</h2>
                     <a href="./html/posts" class="button-more">
                         View all
                         <img class="arrow" src="./img/arrow.png" alt="Arrow">
                     </a>
                 </header>
 
                 <div class="section__cards section__cards--2-in-row">
 
                        <article class="card card--wide">
                            <a href="../post/<%= posts[0].Id %>" class="card__link"></a>
                            <img class="card__img card__img--no-margin card__img--h100" src="../<%= posts[0].imgPost %>" alt="Img">
            
                            <div class="card__desc">
                                <h3 class="card__title card__title--big"><%= posts[0].shortTitle %></h3>
                                <p class="card__text"><%- posts[0].shortText %></p>
                            </div>
                        </article>
                        
                        <article class="card card--wide">
                            <a href="../post/<%= posts[1].Id %>" class="card__link"></a>
                            <img class="card__img card__img--no-margin card__img--h100" src="../<%= posts[1].imgPost %>" alt="Img">
            
                            <div class="card__desc">
                                <h3 class="card__title card__title--big"><%= posts[1].shortTitle %></h3>
                                <p class="card__text"><%- posts[1].shortText %></p>
                            </div>
                        </article>

 
 
                 </div>
             </div>
         </section>
     </main>
    <script src="./js/mobileNavbar.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>