<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой профиль</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/blocks/profile.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-row">
                <div class="header-logo">
                   <img src="../img/logo.png" alt="Logo"> 
                </div>
                <nav class="header-nav">
                    <ul>
                        <li><a href="../">Главная</a></li>
                        <li><a href="../html/attractions.html">Достопримечательности</a></li>
                        <li><a href="../html/gallery.html">Галерея</a></li>
                        <li><a href="../html/posts">Посты</a></li>
                    </ul>
                </nav>
                <div class="header-login">
                    <a href="/" class="btn">Выйти</i></a>
                </div>
                <button type="button" class="mobile-nav-button">
                    <span class="mobile-nav-button__icon"></span>
                </button>
            </div>
        </div>
    </header>
    <div class="mobile-nav">
        <img class="mobile-logo" src="../img/logo.png" alt="logo">
        <nav class="mobile-nav-list">
            <ul>
                <li><a href="../">Главная</a></li>
                <li><a href="../html/attractions.html">Достопримечательности</a></li>
                <li><a href="../html/gallery.html">Галерея</a></li>
                <li><a href="../html/posts">Посты</a></li>
            </ul>
        </nav>
        <div class="mobile-login">
            <a href="/" class="btn btn-mobile">Выйти</i></a>
        </div>
    </div>
    <section class="container profile">
        <img src="../<%=img%>" class="imgProfile" alt="">
        <div class="nameProfile"><%=firstname + " " + lastname %></div>
    </section>
    <section class="container main">
        <h1 class="h1_text">Мои посты</h1>
        <div class="section__cards section__cards--2-in-row">
            <% posts.forEach(function(post) { %>
                <article class="card card--wide">
                    <a href="../post/<%= post.Id %>" class="card__link"></a>
                    <img class="card__img card__img--no-margin card__img--h100" src="../<%= post.imgPost %>" alt="Img">
    
                    <div class="card__desc">
                        <h3 class="card__title card__title--big"><%= post.shortTitle %></h3>
                        <p class="card__text"><%= post.shortText %></p>
                    </div>
                </article>
              <% }); %>
        </div>
    </section>
    
    <script src="../js/mobileNavbar.js"></script>
    <script src="../js/profile.js"></script>
</body>
</html>